*{
    margin: 0;
    padding: 0;
}
.header{
background-color: #f7f5f2;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.imgHeader{
    width: 320px;
    height: auto;
}
.ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.a{
    text-decoration: none;
   color: #000;
}
.a:hover{
    color: #c3c7ed;
}
.botao{
    background-color: #000000;
    padding: 14px 40px;
    border-radius: 999px;
    text-decoration: none;
    
}
.botao:hover{
    background-color: #c3c7ed;
    
}
#branco{
    color: #fff;
    
}